@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-editor {
    min-height: 200px;
}

@media (min-width: 30em) {
    .filepond--item {
        width: calc(50% - 0.5em);
    }
}

@media (min-width: 50em) {
    .filepond--item {
        width: calc(20% - 0.5em);
    }
}

.v-popper__inner {
    font-size: 0.75rem;
}